html {
    background-color: rgb(27, 48, 71);
    font-family: Helvetica;
}

.center {
    margin: 0 auto;
    width: 80vw;
    max-width: 500px;
}

h1 {
    text-align: center;
    width: fit-content;
    margin: 20px auto;
    color: rgb(5,200,150);
}

h2 {
    color: rgb(5,200,150);
}

h3 {
    color: rgb(5,200,150)
}

p {
    color: rgb(5,200,150)
}

div {
    border-style: solid;
    border-color: rgb(5,200,150);
    padding: 10px;
    margin-top: 10px;
}


form {
    width: 100%;
    margin: auto;
}

input {
    width: 100%;
    margin-bottom: 15px;
    height: 40px;
}

input[type=text]{
}
input[type=password]{
}
input[type=submit]{
    margin-bottom: 0;
}

@media (min-width: 1300px) {
    .center {
        width: 30%;
    }
}

@media (min-width: 1000px) {
    .center {
        width: 45%;
    }
}